.feelings_past {
  display: flex;
  flex-wrap: wrap;
  grid-gap: .5rem;
  justify-content: center;
}

.feeling-container {
  position: relative;
}

.tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  width: fit-content;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  border-radius: 6px;
  padding: .5rem;
  position: absolute;
  z-index: 1;
  bottom: 110%; /* Position the tooltip above the text */
  left: -100%;
  opacity: 0;
  transition: opacity 0.3s;
  cursor: default;
}
.tooltip p {
  margin: 0;
  white-space: nowrap;
  font-size: .8rem;
}
.tooltip p:first-child {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: .5rem;
  text-transform: capitalize;
}

.feeling-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}