:root {
  --text: #fff;
  --background: #64abba;
  --feeling-excited: #ec7b28;
  --feeling-excited-hover: #d46f24;
  --feeling-tender: #f014e8;
  --feeling-tender-hover: #d812d1;
  --feeling-scared: #e5df43;
  --feeling-scared-hover: #cec93c;
  --feeling-angry: #e80d0d;
  --feeling-angry-hover: #ba0a0a;
  --feeling-sad: #5185cc;
  --feeling-sad-hover: #4978b8;
  --feeling-happy: #3ea34a;
  --feeling-happy-hover: #389343;

  --feeling-trust: #77b74c;
  --feeling-trust-hover: #659d3f;
  --feeling-fear: #0199cb;
  --feeling-fear-hover: #017ca4;
  --feeling-surprise: #02ccff;
  --feeling-surprise-hover: #00aeda;
  --feeling-sadness: #595afe;
  --feeling-sadness-hover: #3233fe;
  --feeling-disgust: #cb02cd;
  --feeling-disgust-hover: #a502a6;
  --feeling-anger: #fe0000;
  --feeling-anger-hover: #d70000;
  --feeling-anticipation: #ff6602;
  --feeling-anticipation-hover: #da5600;
  --feeling-joy: #ecb816;
  --feeling-joy-hover: #ca9d10;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Grand Hotel", Arial, Helvetica, cursive;
  font-size: 1em;
  color: var(--text);
  background: var(--background);
}